/* src/styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
}

.workoutDetails{
    border:2px solid #ce0000 ;
}

.logout{
    border: 2px solid #ce0000;
}
.modal{
    background-color: #1f0000;
}
.create,.loginBtn,.signupBtn{
    border: 2px solid #ce0000;
}
.submitBtn{
    background-color: #ce0000;
}

input{
    background: #000;
}






